USE [master]
GO
/****** Object:  Database [Visions-R]    Script Date: 22/06/2022 8:23:34 a. m. ******/
CREATE DATABASE [Visions-R]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Visions-R', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Visions-R.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Visions-R_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Visions-R_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Visions-R].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Visions-R]
GO
/****** Object:  Table [dbo].[condiciones]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condiciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[tabla] [nvarchar](50) NULL,
	[estado] [int] NULL CONSTRAINT [DF_condiciones_estado]  DEFAULT ((1)),
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_condiciones_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_condiciones_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_condiciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[conexion_tablas]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conexion_tablas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tabla] [nvarchar](50) NULL,
	[conexion] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[departamentos]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos](
	[id] [int] NULL,
	[id_pais] [int] NULL,
	[nombre] [nvarchar](200) NULL,
	[codigo] [nvarchar](50) NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL,
	[estado] [int] NULL CONSTRAINT [DF_departamentos_estado]  DEFAULT ((1))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[estados]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_estados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[formularios]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formularios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[descripcion] [nvarchar](50) NULL,
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_formularios_fecha_creado]  DEFAULT (getdate()),
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_formularios_fecha_actualizado]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[grupos]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[estado] [int] NOT NULL CONSTRAINT [DF_grupos_id_estado]  DEFAULT ((1)),
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_grupos_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_grupos_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_grupos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[impuestos]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impuestos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[porcentaje] [numeric](18, 2) NULL,
	[conversion] [numeric](18, 2) NULL,
	[id_tipo_impuesto] [int] NULL,
	[estado] [int] NULL,
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_impuestos_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_impuestos_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_impuestos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[marcas]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[estado] [int] NOT NULL CONSTRAINT [DF_marcas_estado]  DEFAULT ((1)),
	[fecha_actualizado] [datetime] NOT NULL CONSTRAINT [DF_marcas_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NOT NULL CONSTRAINT [DF_marcas_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_marcas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[municipios]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipios](
	[id] [int] NULL,
	[id_departamento] [int] NULL,
	[nombre] [nvarchar](200) NULL,
	[codigo] [nvarchar](10) NULL,
	[codigo_facturador] [nvarchar](50) NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL,
	[estado] [int] NULL CONSTRAINT [DF_municipios_estado]  DEFAULT ((1))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[paises]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[id] [int] NULL,
	[nombre] [nvarchar](200) NULL,
	[codigo] [nvarchar](2) NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL,
	[estado] [int] NULL CONSTRAINT [DF_paises_estado]  DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[perfiles]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[estado] [int] NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[perfiles_formularios]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfiles_formularios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NULL,
	[id_formulario] [int] NULL,
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_roles_formularios_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_roles_formularios_fecha_creado]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productos]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[codigo_interno] [nvarchar](20) NULL,
	[nombre] [nvarchar](300) NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_subgrupo] [int] NOT NULL,
	[id_tipo_unidades_medida] [int] NOT NULL,
	[embalaje] [numeric](10, 2) NULL CONSTRAINT [DF_productos_embalaje]  DEFAULT ((1)),
	[existencias] [numeric](10, 2) NULL CONSTRAINT [DF_productos_existencias]  DEFAULT ((0)),
	[existencias_minimas] [numeric](10, 2) NULL CONSTRAINT [DF_productos_existencias_minimas]  DEFAULT ((0)),
	[existencias_maximas] [numeric](10, 2) NULL CONSTRAINT [DF_productos_existencias_maximas]  DEFAULT ((0)),
	[peso_gramos] [numeric](10, 2) NULL CONSTRAINT [DF_productos_peso_gramos]  DEFAULT ((0)),
	[impuestos] [nvarchar](max) NOT NULL,
	[precio_costo] [decimal](18, 2) NULL CONSTRAINT [DF_productos_precio_costo]  DEFAULT ((0)),
	[precio_costo_iva] [decimal](18, 2) NULL CONSTRAINT [DF_productos_precio_costo_iva]  DEFAULT ((0)),
	[precios_venta] [nvarchar](max) NOT NULL CONSTRAINT [DF_productos_precio_venta]  DEFAULT ((0)),
	[condiciones] [nvarchar](max) NULL CONSTRAINT [DF_productos_pesar]  DEFAULT ((0)),
	[id_estado] [int] NOT NULL CONSTRAINT [DF_productos_estado]  DEFAULT ((1)),
	[notas] [nvarchar](max) NULL,
	[fecha_venta] [datetime] NULL CONSTRAINT [DF_productos_fecha_venta]  DEFAULT (getdate()),
	[fecha_compra] [datetime] NULL CONSTRAINT [DF_productos_fecha_compra]  DEFAULT (getdate()),
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_productos_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_productos_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seguridad]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguridad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [nvarchar](50) NOT NULL,
	[clave] [nvarchar](50) NULL,
	[id_usuario] [int] NULL,
	[id_perfil] [int] NULL,
	[estado] [int] NULL,
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_Seguridad_fecha_creado]  DEFAULT (getdate()),
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_Seguridad_fecha_actualizado]  DEFAULT (getdate()),
 CONSTRAINT [PK_Seguridad] PRIMARY KEY CLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[subgrupos]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subgrupos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[id_grupo] [int] NOT NULL,
	[estado] [int] NOT NULL CONSTRAINT [DF_subgrupos_estado]  DEFAULT ((1)),
	[fecha_actualizado] [datetime] NOT NULL CONSTRAINT [DF_subgrupos_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NOT NULL CONSTRAINT [DF_subgrupos_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_subgrupos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_documentos_identificaciones]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documentos_identificaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[codigo] [int] NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL,
	[estado] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_impuestos]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_impuestos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[descripcion] [nvarchar](200) NULL,
	[codigo] [nvarchar](5) NULL,
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_tipo_impuestos_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_tipo_impuestos_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_tipo_impuestos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_organizaciones]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_organizaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[codigo] [int] NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL,
	[estado] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_precios]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_precios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[por_defecto] [int] NULL,
	[estado] [int] NULL CONSTRAINT [DF_tipo_precios_estado]  DEFAULT ((1)),
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_tipo_precios_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_tipo_precios_fecha_creado]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_regimenes]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_regimenes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[codigo] [int] NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL,
	[estado] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_responsabilidades]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_responsabilidades](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[codigo] [nvarchar](10) NULL,
	[fecha_actualizado] [datetime] NULL,
	[fecha_creado] [datetime] NULL,
	[estado] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_unidades_medida]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_unidades_medida](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[codigo] [nvarchar](5) NULL,
	[estado] [int] NULL CONSTRAINT [DF_Table_2_estado]  DEFAULT ((1)),
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_Table_2_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_Table_2_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_tipo_unidades_medida] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 22/06/2022 8:23:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_identificacion] [nvarchar](15) NOT NULL,
	[dv] [int] NULL,
	[id_tipo_documento_identificacion] [int] NULL,
	[nombre_1] [nvarchar](50) NULL,
	[nombre_2] [nvarchar](50) NULL,
	[apellido_1] [nvarchar](50) NULL,
	[apellido_2] [nvarchar](50) NULL,
	[id_tipo_organizacion] [int] NULL,
	[id_tipo_regimen] [int] NULL,
	[id_tipo_responsabilidad] [int] NULL,
	[telefono] [nvarchar](10) NULL,
	[direccion] [nvarchar](150) NULL,
	[id_pais] [int] NULL,
	[id_departamento] [int] NULL,
	[id_municipio] [int] NULL,
	[correo] [nvarchar](50) NOT NULL,
	[cliente] [int] NULL,
	[vendedor] [int] NULL,
	[proveedor] [int] NULL,
	[usuario_visions] [int] NULL,
	[otro] [int] NULL,
	[estado] [int] NULL,
	[fecha_actualizado] [datetime] NULL CONSTRAINT [DF_usuarios_fecha_actualizado]  DEFAULT (getdate()),
	[fecha_creado] [datetime] NULL CONSTRAINT [DF_usuarios_fecha_creado]  DEFAULT (getdate()),
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[condiciones] ON 

INSERT [dbo].[condiciones] ([id], [nombre], [tabla], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'Producto pesado', N'productos', 1, CAST(N'2022-06-01 14:06:06.393' AS DateTime), CAST(N'2022-06-01 14:06:06.393' AS DateTime))
INSERT [dbo].[condiciones] ([id], [nombre], [tabla], [estado], [fecha_actualizado], [fecha_creado]) VALUES (2, N'Marcado', N'productos', 1, CAST(N'2022-06-01 14:06:45.540' AS DateTime), CAST(N'2022-06-01 14:06:45.540' AS DateTime))
INSERT [dbo].[condiciones] ([id], [nombre], [tabla], [estado], [fecha_actualizado], [fecha_creado]) VALUES (3, N'Web', N'productos', 1, CAST(N'2022-06-01 14:07:42.323' AS DateTime), CAST(N'2022-06-01 14:07:42.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[condiciones] OFF
SET IDENTITY_INSERT [dbo].[conexion_tablas] ON 

INSERT [dbo].[conexion_tablas] ([id], [tabla], [conexion]) VALUES (1, N'usuarios', N'db_servidor_documentos')
INSERT [dbo].[conexion_tablas] ([id], [tabla], [conexion]) VALUES (2, N'seguridad', N'db_servidor_cuentas')
SET IDENTITY_INSERT [dbo].[conexion_tablas] OFF
INSERT [dbo].[departamentos] ([id], [id_pais], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (1, 46, N'Amazonas', N'91', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 1)
INSERT [dbo].[departamentos] ([id], [id_pais], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (2, 46, N'Antioquia', N'05', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 1)
INSERT [dbo].[departamentos] ([id], [id_pais], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (3, 46, N'Arauca', N'81', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[estados] ON 

INSERT [dbo].[estados] ([id], [nombre]) VALUES (0, N'Inactivo')
INSERT [dbo].[estados] ([id], [nombre]) VALUES (1, N'Activo')
INSERT [dbo].[estados] ([id], [nombre]) VALUES (2, N'Anulado')
SET IDENTITY_INSERT [dbo].[estados] OFF
SET IDENTITY_INSERT [dbo].[formularios] ON 

INSERT [dbo].[formularios] ([id], [nombre], [descripcion], [fecha_creado], [fecha_actualizado]) VALUES (1, N'Seguridad', N'Gestionar la seguridad de cada usuario', CAST(N'2022-05-06 20:30:41.727' AS DateTime), CAST(N'2022-05-06 20:30:41.727' AS DateTime))
INSERT [dbo].[formularios] ([id], [nombre], [descripcion], [fecha_creado], [fecha_actualizado]) VALUES (2, N'Usuarios', N'Crear y administrar usuarios', CAST(N'2022-05-06 20:31:25.053' AS DateTime), CAST(N'2022-05-06 20:31:25.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[formularios] OFF
SET IDENTITY_INSERT [dbo].[grupos] ON 

INSERT [dbo].[grupos] ([id], [nombre], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'Accesorios navideños', 1, CAST(N'2022-05-31 18:30:44.870' AS DateTime), CAST(N'2022-05-31 18:30:44.870' AS DateTime))
INSERT [dbo].[grupos] ([id], [nombre], [estado], [fecha_actualizado], [fecha_creado]) VALUES (2, N'Aderezos', 1, CAST(N'2022-05-31 18:31:25.463' AS DateTime), CAST(N'2022-05-31 18:31:25.463' AS DateTime))
INSERT [dbo].[grupos] ([id], [nombre], [estado], [fecha_actualizado], [fecha_creado]) VALUES (3, N'Anchetas', 1, CAST(N'2022-05-31 18:31:40.190' AS DateTime), CAST(N'2022-05-31 18:31:40.190' AS DateTime))
SET IDENTITY_INSERT [dbo].[grupos] OFF
SET IDENTITY_INSERT [dbo].[impuestos] ON 

INSERT [dbo].[impuestos] ([id], [nombre], [porcentaje], [conversion], [id_tipo_impuesto], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'Excento', CAST(0.00 AS Numeric(18, 2)), CAST(100.00 AS Numeric(18, 2)), 1, 1, CAST(N'2022-05-16 11:02:33.357' AS DateTime), CAST(N'2022-05-16 11:02:33.357' AS DateTime))
INSERT [dbo].[impuestos] ([id], [nombre], [porcentaje], [conversion], [id_tipo_impuesto], [estado], [fecha_actualizado], [fecha_creado]) VALUES (2, N'Iva del 5', CAST(5.00 AS Numeric(18, 2)), CAST(100.00 AS Numeric(18, 2)), 1, 1, CAST(N'2022-05-16 11:02:33.357' AS DateTime), CAST(N'2022-05-16 11:02:33.357' AS DateTime))
INSERT [dbo].[impuestos] ([id], [nombre], [porcentaje], [conversion], [id_tipo_impuesto], [estado], [fecha_actualizado], [fecha_creado]) VALUES (3, N'Iva del 16', CAST(16.00 AS Numeric(18, 2)), CAST(100.00 AS Numeric(18, 2)), 1, 1, CAST(N'2022-05-16 11:02:50.153' AS DateTime), CAST(N'2022-05-16 11:02:50.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[impuestos] OFF
SET IDENTITY_INSERT [dbo].[marcas] ON 

INSERT [dbo].[marcas] ([id], [nombre], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'Aburra LTDA.', 1, CAST(N'2022-05-31 18:45:09.040' AS DateTime), CAST(N'2022-05-31 18:45:09.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[marcas] OFF
INSERT [dbo].[municipios] ([id], [id_departamento], [nombre], [codigo], [codigo_facturador], [fecha_actualizado], [fecha_creado], [estado]) VALUES (1, 2, N'Medellín', N'05001', N'12601     ', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 1)
INSERT [dbo].[municipios] ([id], [id_departamento], [nombre], [codigo], [codigo_facturador], [fecha_actualizado], [fecha_creado], [estado]) VALUES (2, 2, N'Abejorral', N'05002', N'12533     ', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 1)
INSERT [dbo].[municipios] ([id], [id_departamento], [nombre], [codigo], [codigo_facturador], [fecha_actualizado], [fecha_creado], [estado]) VALUES (3, 2, N'Abriaquí', N'05004', N'12534     ', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 1)
GO
INSERT [dbo].[paises] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (1, N'Afganistán', N'AF', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 0)
INSERT [dbo].[paises] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (2, N'Åland', N'AX', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 0)
INSERT [dbo].[paises] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (3, N'Albania', N'AL', CAST(N'2022-05-28 02:19:23.000' AS DateTime), CAST(N'2022-05-28 02:19:23.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[perfiles] ON 

INSERT [dbo].[perfiles] ([id], [nombre], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'Administrador', 1, CAST(N'2022-05-06 20:25:32.897' AS DateTime), CAST(N'2022-05-06 20:25:32.897' AS DateTime))
INSERT [dbo].[perfiles] ([id], [nombre], [estado], [fecha_actualizado], [fecha_creado]) VALUES (2, N'Cajero', 1, CAST(N'2022-05-06 20:25:51.227' AS DateTime), CAST(N'2022-05-06 20:25:51.227' AS DateTime))
SET IDENTITY_INSERT [dbo].[perfiles] OFF
SET IDENTITY_INSERT [dbo].[perfiles_formularios] ON 

INSERT [dbo].[perfiles_formularios] ([id], [id_rol], [id_formulario], [fecha_actualizado], [fecha_creado]) VALUES (1, 1, 1, CAST(N'2022-05-06 20:40:12.480' AS DateTime), CAST(N'2022-05-06 20:40:12.480' AS DateTime))
INSERT [dbo].[perfiles_formularios] ([id], [id_rol], [id_formulario], [fecha_actualizado], [fecha_creado]) VALUES (2, 1, 2, CAST(N'2022-05-06 20:40:23.557' AS DateTime), CAST(N'2022-05-06 20:40:23.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[perfiles_formularios] OFF
SET IDENTITY_INSERT [dbo].[productos] ON 

SET IDENTITY_INSERT [dbo].[productos] OFF
SET IDENTITY_INSERT [dbo].[Seguridad] ON 

INSERT [dbo].[Seguridad] ([id], [nombre_usuario], [clave], [id_usuario], [id_perfil], [estado], [fecha_creado], [fecha_actualizado]) VALUES (4, N'rgsar', N'12345', 1, 1, 1, CAST(N'2022-05-08 15:39:27.403' AS DateTime), CAST(N'2022-05-08 20:50:13.980' AS DateTime))
INSERT [dbo].[Seguridad] ([id], [nombre_usuario], [clave], [id_usuario], [id_perfil], [estado], [fecha_creado], [fecha_actualizado]) VALUES (3, N'robert', N'5654', 1, 1, 1, NULL, CAST(N'2022-05-08 20:56:28.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[Seguridad] OFF
SET IDENTITY_INSERT [dbo].[subgrupos] ON 

INSERT [dbo].[subgrupos] ([id], [nombre], [id_grupo], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'Cuajo', 2, 1, CAST(N'2022-05-31 18:33:28.573' AS DateTime), CAST(N'2022-05-31 18:33:28.573' AS DateTime))
INSERT [dbo].[subgrupos] ([id], [nombre], [id_grupo], [estado], [fecha_actualizado], [fecha_creado]) VALUES (2, N'Miel y caramelos para aderezo', 2, 1, CAST(N'2022-05-31 18:33:47.653' AS DateTime), CAST(N'2022-05-31 18:33:47.653' AS DateTime))
INSERT [dbo].[subgrupos] ([id], [nombre], [id_grupo], [estado], [fecha_actualizado], [fecha_creado]) VALUES (3, N'Vinagre, vinagretas', 2, 1, CAST(N'2022-05-31 18:34:03.610' AS DateTime), CAST(N'2022-05-31 18:34:03.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[subgrupos] OFF
SET IDENTITY_INSERT [dbo].[tipo_documentos_identificaciones] ON 

INSERT [dbo].[tipo_documentos_identificaciones] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (1, N'Registro civil', 11, CAST(N'2022-05-05 13:27:37.680' AS DateTime), CAST(N'2022-05-05 13:27:37.680' AS DateTime), 1)
INSERT [dbo].[tipo_documentos_identificaciones] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (2, N'Tarjeta de identidad', 12, CAST(N'2022-05-05 13:27:49.980' AS DateTime), CAST(N'2022-05-05 13:27:49.980' AS DateTime), 1)
INSERT [dbo].[tipo_documentos_identificaciones] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (3, N'Cédula de ciudadanía', 13, CAST(N'2022-05-05 13:28:01.620' AS DateTime), CAST(N'2022-05-05 13:28:01.620' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tipo_documentos_identificaciones] OFF
SET IDENTITY_INSERT [dbo].[tipo_impuestos] ON 

INSERT [dbo].[tipo_impuestos] ([id], [nombre], [descripcion], [codigo], [fecha_actualizado], [fecha_creado]) VALUES (1, N'IVA', N'Impuesto sobre la Ventas', N'01', CAST(N'2022-05-16 12:56:04.903' AS DateTime), CAST(N'2022-05-16 12:56:04.903' AS DateTime))
INSERT [dbo].[tipo_impuestos] ([id], [nombre], [descripcion], [codigo], [fecha_actualizado], [fecha_creado]) VALUES (2, N'IC', N'Impuesto al Consumo Departamental', N'02', CAST(N'2022-05-16 12:56:04.903' AS DateTime), CAST(N'2022-05-16 12:56:04.903' AS DateTime))
INSERT [dbo].[tipo_impuestos] ([id], [nombre], [descripcion], [codigo], [fecha_actualizado], [fecha_creado]) VALUES (3, N'ICA', N'Impuesto de Industria, Comercio y Aviso', N'03', CAST(N'2022-05-16 12:56:04.903' AS DateTime), CAST(N'2022-05-16 12:56:04.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipo_impuestos] OFF
SET IDENTITY_INSERT [dbo].[tipo_organizaciones] ON 

INSERT [dbo].[tipo_organizaciones] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (1, N'Persona Jurídica', 1, CAST(N'2022-05-05 13:10:45.123' AS DateTime), CAST(N'2022-05-05 13:10:45.123' AS DateTime), 1)
INSERT [dbo].[tipo_organizaciones] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (2, N'Persona Natural', 2, CAST(N'2022-05-05 13:11:03.550' AS DateTime), CAST(N'2022-05-05 13:11:03.550' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tipo_organizaciones] OFF
SET IDENTITY_INSERT [dbo].[tipo_precios] ON 

INSERT [dbo].[tipo_precios] ([id], [nombre], [por_defecto], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'Precio de venta autorizado', 1, 1, CAST(N'2022-05-17 11:42:39.790' AS DateTime), CAST(N'2022-05-17 11:42:39.790' AS DateTime))
INSERT [dbo].[tipo_precios] ([id], [nombre], [por_defecto], [estado], [fecha_actualizado], [fecha_creado]) VALUES (2, N'Precio de venta al por mayor', 0, 1, CAST(N'2022-05-17 11:42:59.883' AS DateTime), CAST(N'2022-05-17 11:42:59.883' AS DateTime))
INSERT [dbo].[tipo_precios] ([id], [nombre], [por_defecto], [estado], [fecha_actualizado], [fecha_creado]) VALUES (3, N'Precio de venta al por menor', 0, 1, CAST(N'2022-05-17 11:43:32.107' AS DateTime), CAST(N'2022-05-17 11:43:32.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipo_precios] OFF
SET IDENTITY_INSERT [dbo].[tipo_regimenes] ON 

INSERT [dbo].[tipo_regimenes] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (1, N'Responsable de IVA', 48, CAST(N'2022-05-05 13:19:36.970' AS DateTime), CAST(N'2022-05-05 13:19:36.970' AS DateTime), 1)
INSERT [dbo].[tipo_regimenes] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (2, N'No Responsable de IVA', 49, CAST(N'2022-05-05 13:20:00.877' AS DateTime), CAST(N'2022-05-05 13:20:00.877' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tipo_regimenes] OFF
INSERT [dbo].[tipo_responsabilidades] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (7, N'Gran contribuyente', N'O-13', CAST(N'2022-05-05 13:23:45.337' AS DateTime), CAST(N'2022-05-05 13:23:45.337' AS DateTime), 1)
INSERT [dbo].[tipo_responsabilidades] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (9, N'Autorretenedor', N'O-15', CAST(N'2022-05-05 13:24:03.000' AS DateTime), CAST(N'2022-05-05 13:24:03.000' AS DateTime), 1)
INSERT [dbo].[tipo_responsabilidades] ([id], [nombre], [codigo], [fecha_actualizado], [fecha_creado], [estado]) VALUES (14, N'Agente de retención IVA', N'O-23', CAST(N'2022-05-05 13:24:25.313' AS DateTime), CAST(N'2022-05-05 13:24:25.313' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tipo_unidades_medida] ON 

INSERT [dbo].[tipo_unidades_medida] ([id], [nombre], [codigo], [estado], [fecha_actualizado], [fecha_creado]) VALUES (1, N'spray pequeño', N'04', 0, CAST(N'2022-05-17 12:37:00.273' AS DateTime), CAST(N'2022-05-17 12:37:00.273' AS DateTime))
INSERT [dbo].[tipo_unidades_medida] ([id], [nombre], [codigo], [estado], [fecha_actualizado], [fecha_creado]) VALUES (2, N'levantar', N'05', 0, CAST(N'2022-05-17 12:37:00.747' AS DateTime), CAST(N'2022-05-17 12:37:00.747' AS DateTime))
INSERT [dbo].[tipo_unidades_medida] ([id], [nombre], [codigo], [estado], [fecha_actualizado], [fecha_creado]) VALUES (3, N'Lote calor', N'08', 0, CAST(N'2022-05-17 12:37:01.150' AS DateTime), CAST(N'2022-05-17 12:37:01.150' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tipo_unidades_medida] OFF
SET IDENTITY_INSERT [dbo].[usuarios] ON 

SET IDENTITY_INSERT [dbo].[usuarios] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_productos_codigo]    Script Date: 22/06/2022 8:23:35 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_productos_codigo] ON [dbo].[productos]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_productos_codigo_integerno]    Script Date: 22/06/2022 8:23:35 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_productos_codigo_integerno] ON [dbo].[productos]
(
	[codigo_interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[grupos]  WITH CHECK ADD  CONSTRAINT [FK_grupos_grupos] FOREIGN KEY([id])
REFERENCES [dbo].[grupos] ([id])
GO
ALTER TABLE [dbo].[grupos] CHECK CONSTRAINT [FK_grupos_grupos]
GO
ALTER TABLE [dbo].[impuestos]  WITH CHECK ADD  CONSTRAINT [FK_impuestos_tipo_impuestos] FOREIGN KEY([id_tipo_impuesto])
REFERENCES [dbo].[tipo_impuestos] ([id])
GO
ALTER TABLE [dbo].[impuestos] CHECK CONSTRAINT [FK_impuestos_tipo_impuestos]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_estados] FOREIGN KEY([id_estado])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_estados]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_marcas] FOREIGN KEY([id_marca])
REFERENCES [dbo].[marcas] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_marcas]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_subgrupos] FOREIGN KEY([id_subgrupo])
REFERENCES [dbo].[subgrupos] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_subgrupos]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_tipo_unidades_medida] FOREIGN KEY([id_tipo_unidades_medida])
REFERENCES [dbo].[tipo_unidades_medida] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_tipo_unidades_medida]
GO
ALTER TABLE [dbo].[subgrupos]  WITH CHECK ADD  CONSTRAINT [FK_subgrupos_grupos] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[grupos] ([id])
GO
ALTER TABLE [dbo].[subgrupos] CHECK CONSTRAINT [FK_subgrupos_grupos]
GO
USE [master]
GO
